body {
  margin: 0 20px;
  font-family: 'Asap', sans-serif;
}

.book:nth-child(odd) {
  background-color: #ddd;
}

.horizontal-line {
  width: 25%;
  height: 3px;
  background-color: black;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.nav-links:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.show {
  display: block;
}

.active {
  color: blue;
}

header {
  position: fixed;
  top: 2px;
  left: 0.5%;
  width: 99%;
}

nav {
  height: 60px;
}

section {
  display: none;
}

footer {
  position: fixed;
  bottom: 2px;
  left: 0.5%;
  width: 99%;
}

.time {
  margin-top: 80px;
  text-align: right;
}
